@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fonte {
    font-family: 'Montserrat', sans-serif;
    color: #012f3f;
    font-size: 30px;
    /* Reduzindo o tamanho para "Escolha sua" */
    font-weight: 400;
    /* Fazendo mais fino */
}

.fonte01 {
    font-family: 'Montserrat', sans-serif;
    color: #012f3f;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    /* Mantendo "ÁREA DE ATUAÇÃO:" mais forte */
}

/* Reset de margens e padding */
/* Reset de margens e padding */
body, ul, li, h1, h2 {
    margin: 0;
    padding: 0;
}

/* Estilos para a sidebar */
.sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d3e8f2;
    padding-top: 20px;
}

.sidebar .alinhar {
    padding: 20px;
}

.sidebar h2 {
    color: #012f3f;
    text-align: left;
    margin-bottom: px; /* Ajustando o espaçamento abaixo do h2 */
}

.sidebar h1 {
    color: #012f3f;
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px; /* Ajustando o espaçamento abaixo do h1 */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; /* Espaçamento entre o título e a lista */
}

.sidebar ul li {
    padding: 0;
    text-align: left;
}

.sidebar ul li a {
    display: block; /* Faz com que o link ocupe toda a área do li */
    padding: 10px 20px; /* Ajusta o padding para tornar a área clicável maior */
    color: #012f3f;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sidebar ul li a:hover {
    background-color: #dbd9d9;
    color: #1a29b1;
}

.lateral {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}



.content {
    margin-left: 250px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    text-align: center;
    color: #333;
}


#book-form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="textarea"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para os ícones */
.icon-small {
    width: 20px; /* Define o tamanho dos ícones */
    margin-right: 10px; /* Espaçamento entre os ícones */
    vertical-align: middle; /* Alinha os ícones verticalmente */
}
